<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}" /> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='javascript/home.js') }}" /> -->
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='javascript/home.js') }}"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block styles %}
    {{ bootstrap.load_css() }}
    {% endblock %}
    <title>Main Page</title>
    {% endblock %}
</head>

<body>
    {% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}" />
    <!-- js for sidebar -->
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/home.js') }}"></script>
    <nav class="navbar navbar-default no-margin">
        <div class="navbar-header fixed-brand">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
                <span class="fas fa-bars" aria-hidden="true"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('home') }}"><i class="fas fa-music fa-4"></i> Music Search</a>
        </div>
        <!-- navbar-header-->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">
                    <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"> <span
                            class="fas fa-bars" aria-hidden="true"></span>
                    </button>
                </li>
            </ul>
        </div>
        <!-- bs-example-navbar-collapse-1 -->
    </nav>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">

                <li>
                    <a href="{{ url_for('home') }}"><span class=" fa-stack fa-lg pull-left"><i
                                class="fas fa-home fa-stack-1x "></i></span>Home</a>
                </li>
                <li>
                    <a href="{{ url_for('random') }}"><span class="fa-stack fa-lg pull-left"><i
                                class="fas fa-random fa-stack-1x "></i></span>Random</a>
                </li>
                <li>
                    <a href="{{ url_for('contact') }}"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-server fa-stack-1x "></i></span>Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid xyz">
                <div class="row">
                    <div class="col-lg-12">
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->




    <!-- Search Bar -->
    <div class="container mt-4">
        <div class="row d-flex justify-content-center">
            <div class="col-md-9">
                <div class="card p-4 mt-3">
                    <h3 class="heading mt-5 text-center">Welcome! Search an Artist</h3>
                    <div class="d-flex justify-content-center px-5">
                        <form class="form-inline my-4 my-lg-2" method="GET">
                            <div class="search"> <input type="text" class="search-input" placeholder="Search..."
                                    name=""> <a href="#" class="search-icon"> <i class="fa fa-search"></i> </a> </div>
                        </form>
                    </div>
                    <div class="row mt-4 g-1 px-4 mb-5">
                        <div class="col-md-2">
                            <div class="card-inner p-3 d-flex flex-column align-items-center"> <img src="album image"
                                    width="50">
                                <div class="text-center mg-text"> <span class="mg-text">album name</span> </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card-inner p-3 d-flex flex-column align-items-center"> <img src="album"
                                    width="50">
                                <div class="text-center mg-text"> <span class="mg-text">album name</span> </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card-inner p-3 d-flex flex-column align-items-center"> <img src="album"
                                    width="50">
                                <div class="text-center mg-text"> <span class="mg-text">album name</span> </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card-inner p-3 d-flex flex-column align-items-center"> <img src="album"
                                    width="50">
                                <div class="text-center mg-text"> <span class="mg-text">album name</span> </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card-inner p-3 d-flex flex-column align-items-center"> <img src="album"
                                    width="50">
                                <div class="text-center mg-text"> <span class="mg-text">album name</span> </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card-inner p-3 d-flex flex-column align-items-center"> <img src="album"
                                    width="50">
                                <div class="text-center mg-text"> <span class="mg-text">album name</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>